* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CALC */
:root {
    --widForm: 500px;
}

#main {
    background: linear-gradient(230deg, #a4e6dc, #43acce);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading {
    position: absolute;
    top: 10px;
    font-family: cursive;
    font-size: 46px;
}
#MyForm {
    position: relative;
    width: var(--widForm);
    height: 700px;
    background-color: white;
    border-radius: 30px;
    margin: 0 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#MyForm input, textarea{
    display: block;
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
    font-size: 16px;
    padding: 10px;
    /* border: 1px solid rgb(1, 225, 255); */
    border-top: none;
    border-right: none;
    border: none;
    /* border-left: 3px solid rgb(1, 225, 255); */
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    outline: none;
}
.main-form {
    position: absolute;
    bottom: 50px;
    left: 30px;
    right: 30px;
}
textarea {
    height: 150px;
}
#btnSubmit {
    width: 100%;
    padding: 18px 0;
    bottom: 40px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px;
}
#btnSubmit:hover {
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
