* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
    background: url("./imgs/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* overflow: hidden; */
}

/* --COMMON-- */
.fn-wei700 {
    font-weight: 700;
}
.none_a {
    text-decoration: none;
}
.color-white {
    color: white;
}
.pd-left40 {
    padding-left: 40px;
}
.fz-18 {
    font-size: 18px;
}
.fz-20{
    font-size: 20px;
}


/*--MAIN--*/
#main {
    color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
}

/* --HEADER-- */
#header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}   
#header .header-icon {
    /* line-height: 80px; */
    font-size: 22px;
    font-weight: 600;
}
#header .header-icon:hover {
    text-shadow: 0 0 4px white;
    cursor: pointer;
}
#nav .closes {
    display: none;
}
.ti-user {
    padding-right: 30px;
    padding-left: 60px;
}
.ti-search {
    padding-right: 60px;
}
#home {
    line-height: 80px;
    margin-left: 60px;
    font-size: 32px;
    text-shadow: 0 0 8px rgb(167, 167, 167);
}
.itar-mobile {
    display: none;
}
#nav {
    z-index: 1;
}
#nav li {
    display: inline-block;
    line-height: 86px;
}
#nav a {
    text-decoration: none;
    color: white;
    padding: 0 32px;
    font-size: 22px;
    text-shadow: 0 0 8px rgb(83, 83, 83);
}
#nav a:hover {
    text-shadow: 0 0 4px rgb(255, 255, 255);
}
.ti-menu {
    display: none;
}

/* --CONTENT-- */
#content {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.content-main {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 50vw;
    left: 20vw;
    height: 80%;
    top: 80px;
    justify-content: center;
    z-index: 1;
}
.opppe {
    display: grid !important;
}
.remove {
    display: none !important;
}
.adds {
    display: block !important;
}
.z-index1 {
    z-index: 1 !important;
}
.z-index0 {
    z-index: 0 !important;
}
#content .itar {
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
}
.a, .b, .taskbar {
    transform: rotate(270deg);
}
.itar .a {
    margin-top: 122px
}
/* .itar .taskbar {
    width: 40px;
    height: 4px;
    position: absolute;
    background-color: rgb(248, 37, 72);
    left: 40px;
    bottom: -150px;
} */
.itar .b {
    left: -8px;
}
.itar .a::before, .b::before{
    content:"";
    width: 0%;
    height: 3px;
    position: absolute;
    background-color: rgb(248, 37, 72);
    bottom: -0.2vw;
}
.itar .a:hover::before{
    width: 84%;
    transition: all 0.5s ease-in-out;
}
.itar .b:hover::before{
    width: 100%;
    transition: all 0.5s ease-in-out;
}
.itar .a:hover, .b:hover, 
.a-mobile:hover, .b-mobile:hover{
    text-shadow: 0 0 4px white;
    cursor: pointer;
}

.content-heading1, .content-heading2 {
    font-size: 80px;
    font-family: 'Palanquin Dark', sans-serif;
    margin-left: -5px;
}
.content-heading2 {
    margin-top: -68px;
}
.content-text {
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-size: 16px;
    max-width: 550px;
}
.btn-explore {
    background-color: rgb(248, 37, 72);
    padding: 18px 42px;
    font-size: 18px;
    align-self: end;
    position: relative;
    margin-top: 20px;
    animation: both 2.5s fadeout;
}

@keyframes fadeout {
    from {
        transform: translateX(100px);
    }
    to {
        transform: translateX(0);
    }
}
.btn-explore::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    background-color: white;
    right: -40px;
    top: 50%;
}
.btn-explore::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid rgb(255, 255, 255);
    right: -40px;
    top: 43%;
}
.btn-explore:hover {
    cursor: pointer;
    background-color: rgb(194, 194, 194);
    color: black;
    font-weight: 600;
    animation:both 2.5s fadein;
}
@keyframes fadein {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100px);
    }
}
#content .bar-right {
    position: relative;
    font-size: 18px;
    align-self: center;
}
.bar-one, .bar-two {
    transform: rotate(90deg);
}
.bar-one {
    position: relative;
    right: 16px;
    padding-right: 20px;
}
.bar-two {
    position: absolute;
    right: 14px;
    padding-left: 20px;
}
:root {
    --height-scroll: 20vh;
}
.bar-scroll {
    height: var(--height-scroll);
    width: 2px;
    background-color: rgb(179, 179, 179);
    position: relative;
}
.bar-scroll::before {
    content: "";
    position: absolute;
    height: calc(var(--height-scroll) - 11vh);
    width: 4px;
    background-color: rgb(248, 37, 72);
    left: -1px;
}

/* --FOOTER-- */
#footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    bottom: 0;
    justify-content: flex-end;
    padding-bottom: 30px;
}
.footer-content {
    display: flex;
    list-style-type: none;
    position: absolute;
}
.footer-first {
    padding-left: 4vw;
}
.footer1 {
    padding-right: 6vw;
    font-weight: 600;
}
.head {
    position: absolute;
    bottom: 24px;
    font-size: 16px;
}
.body {
    padding-top: 20px;
    letter-spacing: 1px;
    font-size: 18px;
}
.back, .next {
    background-color: rgb(248, 37, 72);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    animation: btn 3s infinite;
}
@keyframes btn {
    50% {
        box-shadow: 0 0 18px rgb(248, 37, 72);
    }
}
.back:hover, .next:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(194, 194, 194);
    font-weight: 600;
    color: black;
}

.footer-btn i {
    font-size: 20px;
    display: flex;
    float: right;
}

/* ================RESPONSIVE=============== */

/* EXTRA LARGE SCREENs >=1201px */
@media only screen and (min-width: 75.0625em){
    .content-heading1, .content-heading2{
        font-size: 90px;
    }
    .content-text{
        font-size: 18px;
        max-width: 600px;
    }
    .next{
        margin-right: 50px;
    }
    #nav {
        display: inline-block !important;
    }
    #CLOSE {
        display: none !important;
    }
}
/* -------------------------------- */
/* DESKTOP LARGE SCREEN >=1025 && <=1200 */
@media only screen and (min-width: 64.0625em) and (max-width: 75em){
    #nav {
        display: inline-block !important;
    }
    #CLOSE {
        display: none !important;
    }
}
/* --------------------------------- */
/* SMALL SCREEN LAPTOP >=769 && <= 1024 */
@media only screen and (min-width: 48.0625em) and (max-width: 64em){
    #nav {
        justify-items: center;
        background-color: #00000036;
        height: calc(86px * 5);
        border-bottom-left-radius: 10px;
        display: none;
    }
    #header .ti-menu {
        display: block;
        line-height: 86px;
        padding: 0 30px;
        font-size: 24px;
    }
    #nav li {
        display: block;
    }
    #nav a {
        float: right;
    }
    #nav .ti-close {
        background-color: #00000047;
        color: white;
        padding: 0 16px;
        margin-top: 20px;
        border-radius: 50%;
        line-height: 50px;
        position: relative;
    }
    #nav .ti-close::after {
        position: absolute;
        content: "";
        height: 21px;
        width: 2px;
        background: linear-gradient(white, #00000047);
        top: -20px;
        left: 23px;
    }
    @keyframes FadeInMenu{
        from {
            transform:translateX(100px);
        }
        to{
            transform: translateX(0);
        }
    }
    @keyframes FadeOutMenu{
        from {
            transform:translateX(0);
        }
        to{
            transform: translateX(200px);
        }
    }
    @keyframes CloseMenu {
        from{
            transform: translateY(400px);
        }
        to{
            transform: translateY(0);
        }
    }
    @keyframes FadeInBar {
        from {
            transform:translateX(100px);
        }
        to{
            transform: translateX(0);
        }
    }
    @keyframes FadeOutBar {
        from {
            transform:translateX(0);
        }
        to{
            transform: translateX(100px);
        }
    }
}
/* --------------------------------- */
/* IPADs TABLETs >=481 && <= 768 */
@media only screen and (min-width: 30.0625em) and (max-width: 48em){
    #nav {
        justify-items: center;
        background-color: #00000036;
        height: calc(70px * 5);
        border-bottom-left-radius: 10px;
        display: none;
        width: 180px;
        z-index: 1;
    }
    #header .ti-menu {
        display: block;
        line-height: 70px;
        padding: 0 30px;
        font-size: 24px;
    }
    #nav li {
        display: block;
        line-height: 70px;
    }
    #nav a {
        float: right;
        font-size: 20px;
    }
    #nav .ti-close {
        background-color: #00000047;
        color: white;
        padding: 0 16px;
        margin-top: 20px;
        border-radius: 50%;
        line-height: 48px;
        position: relative;
    }
    #nav .ti-close::after {
        position: absolute;
        content: "";
        height: 21px;
        width: 2px;
        background: linear-gradient(white, #00000047);
        top: -20px;
        left: 23px;
    }
    @keyframes FadeInMenu{
        from {
            transform:translateX(100px);
        }
        to{
            transform: translateX(0);
        }
    }
    @keyframes FadeOutMenu{
        from {
            transform:translateX(0);
        }
        to{
            transform: translateX(200px);
        }
    }
    @keyframes CloseMenu {
        from{
            transform: translateY(400px);
        }
        to{
            transform: translateY(0);
        }
    }
    @keyframes FadeInBar {
        from {
            transform:translateX(100px);
        }
        to{
            transform: translateX(0);
        }
    }
    @keyframes FadeOutBar {
        from {
            transform:translateX(0);
        }
        to{
            transform: translateX(100px);
        }
    }
    .content-main{
        left: 15vw;
    }
    #content .itar{
        position: relative;
        left: -22px;
    }
    #content .bar-right{
        right: -12px;
    }
    .bar-one,.bar-two{
        font-size: 15px;
    }
    .fz-20 {
        font-size: 16px;
    }
    .content-heading1, .content-heading2{
        font-size: 60px;
    }
    .content-heading2{
        margin-top: -50px;
    }
    .content-text{
        font-size: 15px;
    }
    .btn-explore{
        font-size: 16px;
        padding: 18px 30px;
    }
    .btn-explore::before{
        width: 55px;
    }
    .btn-explore::after{
        right: -44px;
    }
    .fz-18 {
        font-size: 16px;
    }
    .head{
        font-size: 11px;
    }
    .body {
        font-size: 13px;
    }
    #header .header-icon{
        padding: 0 20px;
    }
    .footer1{
        padding-right: 3vw;
    }
}
/* --------------------------------- */
/* MOBILEs >=320 && <=480 */
@media only screen and (min-width: 20em) and (max-width: 30em){
    #nav {
        justify-items: center;
        background-color: #000000;
        height: calc(50px * 5);
        border-bottom-left-radius: 10px;
        display: none;
        width: 160px;
        position: relative;
        top: 20vh;
        border-top-left-radius: 10px;
    }
    #home {
        margin-left: 28px;
    }
    #header .ti-menu {
        display: block;
        line-height: 80px;
        padding: 0 30px;
        font-size: 24px;
    }
    #nav li {
        display: block;
        line-height: 50px;
    }
    #nav a {
        float: right;
        font-size: 17px;
        padding: 0;
    }
    #nav .ti-close {
        background-color: #ff0055;
        color: white;
        margin-top: 20px;
        border-radius: 50%;
        padding: 0 12px;
        line-height: 40px;
        position: relative;
    }
    #nav .ti-close::after {
        position: absolute;
        content: "";
        height: 21px;
        width: 2px;
        background: linear-gradient(rgb(255, 94, 0), #ff0e9bf8);
        top: -20px;
        left: 19px;
    }
    @keyframes FadeInMenu{
        from {
            transform:translateX(100px);
        }
        to{
            transform: translateX(0);
        }
    }
    @keyframes FadeOutMenu{
        from {
            transform:translateX(0);
        }
        to{
            transform: translateX(200px);
        }
    }
    @keyframes CloseMenu {
        from{
            transform: translateY(400px);
        }
        to{
            transform: translateY(0);
        }
    }
    @keyframes FadeInBar {
        from {
            transform:translateX(100px);
        }
        to{
            transform: translateX(0);
        }
    }
    @keyframes FadeOutBar {
        from {
            transform:translateX(0);
        }
        to{
            transform: translateX(100px);
        }
    }
    .content-main{
        left: 8vw;
        max-width: 70vw;
        z-index: 1;
    }
    #content .itar{
        position: relative;
        left: -22px;
        display: none;
    }
    #content .bar-right{
        right: -12px;
    }
    .bar-one,.bar-two{
        font-size: 15px;
    }
    .fz-20 {
        font-size: 16px;
    }
    .content-heading1, .content-heading2{
        font-size: 40px;
    }
    .content-heading2{
        margin-top: -34px;
    }
    .content-text{
        font-size: 15px;
        text-align: justify;
        max-width: auto;
        width: 274px;
    }
    .btn-explore{
        font-size: 16px;
        padding: 18px 30px;
        align-self: start;
    }
    .btn-explore::before{
        width: 55px;
    }
    .btn-explore::after{
        right: -44px;
    }
    .fz-18 {
        font-size: 16px;
    }
    .footer-content{
        flex-direction: column;
        margin-left: 8vw;
    }
    .footer-first{
        padding: 0;
    }
    .head{
        font-size: 11px;
        bottom: auto;
    }
    .body {
        font-size: 13px;
        padding-top: 14px;
    }
    #header .header-icon{
        padding: 0 20px;
    }
    .footer1{
        padding-right: 3vw;
        padding-bottom: 12px;
    }
    .footer-third {
        padding-bottom: 0;
    }
    #content .bar-right{
        position: absolute;
        right: 0;
    }
}

/* --------------------------------- */

/* MOBILE-COMMON */
/* @media only screen and (min-width: 320px) and (max-width: 480px){
    #content .content-heading1, .content-heading2 {
        font-size: 40px;
    }
    #content .content-heading1{
        padding-bottom: 72px;
    }
    #content .date{
        font-size: 14px;
        margin-left: -5px;
    }
    #content .content-text {
        margin-left: -5px;
    }
    #home{
        font-size: 24px;
        margin-left: 17px;
    }
    #content .content-main{
        margin-left: 22px;
        width: auto;
        text-align: auto;
        margin-right: 22px;
    }
    #content .btn-explore {
        margin-right: 0;
        left: -5px;
    }
    #footer .footer1{
        padding-left: 19px;
    }
    #footer .footer-btn{
        display: none;
        /* align-self: unset;
        justify-content: space-between;
        position: relative;
        bottom: 265px;
    }
    #content .btn-explore::after {
        right: -44px;
    }
    #content .btn-explore::before {
        right: -40px;
    }
} */
